.card {
  border: 1px solid var(--color-primary-darkest);
  box-shadow: 1px 1px 3px 0px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.decorativeCircle {
  position: absolute;
  top: -250px;
  right: -250px;
  height: 500px;
  width: 500px;

  border-radius: 50%;
  background-color: var(--color-primary-lightest);
}

.infoRow {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
  margin: 15px;
}

.biographyRow {
  margin: 15px;
}

.socialRow {
  position: relative;
  z-index: 1;
  margin: 15px;
}

.avatar {
  margin-right: 15px;
}
