.header {
  background-color: var(--color-shade-darker);
  color: var(--color-shade-lighter);
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.header > * {
  margin: 0 10px;
}

.header > :last-child {
  margin-left: auto;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.stuck {
  position: absolute;
  top: var(--banner-height);
  width: 100%;
}

.placeholder {
  height: var(--header-height);
}

.profileLink {
  display: flex;
  align-items: center;
}

.profilePicture {
  height: 30px;
  width: 30px;
  border-radius: var(--border-radius-small);
  margin-right: 10px;
}
